

BOT_TOKEN = os.getenv("BOT_TOKEN", "СЮДА_ВСТАВЬ_НОВЫЙ_ТОКЕН")
ADMIN_ID=6463896308
NOTIFICATION_CHAT_ID=6463896308

WORK_START_HOUR=10
WORK_END_HOUR=20
BOOKING_DAYS_AHEAD=14
MAX_ACTIVE_BOOKINGS=3
PORTFOLIO_DIR=portfolio
